# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ Idea files
.idea
/telo/out/

# VSCode
/.project
/.settings/
/telo/.classpath
/telo/.project
/telo/.settings/


# Misc
.#*
